@model Employee
@{
    ViewData["Title"] = "Delete Employee Info ";
}

<h3>@ViewData["Title"]</h3>
<hr />
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="container">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" readonly  />
           
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" readonly />
            
        </div>
        <div class="mb-3">
            <label asp-for="Address" class="form-label"></label>
            <textarea asp-for="Address" class="form-control" rows="5" cols="40" readonly></</textarea>
           
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNo" class="form-label"></label>
            <input asp-for="PhoneNo" class="form-control" readonly />           
        </div>
        <div class="mb-3">
            <label class="form-label">Department </label>
            <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.Departments" disabled>
                <option>-- Select Department --</option>
            </select>
            <span asp-validation-for="DepartmentID" class="text-danger"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            <a asp-action="Index" class="btn btn-warning btn-sm">Back to List</a>
        </div>
    </div>
</form>

